*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(jebal_.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.container::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: .6;
}

.item{
    width: 100%;
    height: 550px;
    max-width: 820px;
    background: #ffffff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0px 10px 1px #8d8d8d;
    grid-template-columns: repeat(2, 1fr);
    display: grid;
    z-index: 1000;
}

.contact{
    background: #f2f2f2;
}

.submit-form{
    background: #000;
}

.first-text{
    color: #1a1a1a;
    padding-left: 20px;
    padding-top: 20px;
    font-size: 30px;
    font-weight: 900;
    font-family: 'Montserrat', sans-serif;
}

.image{
    width: auto;
    height: 30vh;
    position: relative;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
}

.social{
    display: flex;
    list-style: none;
}

.social i{
    background-color: rgb(228, 228, 228);
    padding: 5px;
    font-size: 40px;
    font-weight: 500;
    margin: 5px;
    border-radius: 10px;
    outline: none;
    box-shadow: -5px -5px 10px -1px #ffffff, 5px 5px 10px -1px #949494;
}

.social-links{
    position: relative;
    bottom: -90px;
    left: 20px;
}

.social i:active{
    box-shadow: inset -5px -5px 10px -1px #ffffff, inset 5px 5px 10px -1px #949494;
}

.social a{
    text-decoration: none;
    color: #000;
}

.second-text{
    font-size: 18px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    position: relative;
    left: 10px;
    bottom: 0;
}

.third-text{
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-weight: 800;
    top: 20px;
    left: 20px;
    padding-top: 10px;
    position: relative;
    color: #fff;
}

form{
    padding: 0px 50px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.input-box{
    height: 40px;
    width: 100%;
    margin: 30px 0px;
    position: relative;
}

.input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 20px;
    outline: none;
    padding-left: 10px;
    color: #fff;
    font-size: 16px;
}

.input-box label{
    position: absolute;
    top: 50%;
    left: 10px;
    padding-left: 10px;
    transform: translateY(-50%);
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-weight: 400;
    transition: .2s;
}

.input-box .input:focus ~ label,
.input-box .input:valid ~ label{
    top: -1px;
    left: 10px;
    background: #000;
    font-weight: 500;
    font-size: 12px;
    padding: 5px;
}

textarea.input{
    resize: none;
    min-height: 150px;
    overflow: auto;
    padding-top: 10px;
}

.btn{
    position: relative;
    top: 100px;
    outline: none;
    border: 2px solid #fff;
    height: 45px;
    width: 40%;
    background-color: #fff;
    color: #000;
    font-weight: 500;
    border-radius: 5px;
    transition: .2s;
    font-size: 18px;
}

.btn:hover{
    cursor: pointer;
    transform: scale(1.1);
}

@media(max-width:850px){
    .item{
        grid-template-columns: 1fr;
    }

    .contact{
        display: none;
    }

    .text{
        font-size: 35px;
        text-align: center;
    }

    .btn{
        width: 25%;
        height: 40px;
        font-size: 15px;
    }
}

@media(max-width:480px){
    .item{
        grid-template-columns: 1fr;
    }

    .contact{
        display: none;
    }

    .text{
        font-size: 35px;
        text-align: center;
    }

    .btn{
        width: 20%;
        height: 40px;
        font-weight: 12px;
    }
}

@media(max-width:375px){
    .item{
        grid-template-columns: 1fr;
    }

    .contact{
        display: none;
    }

    .text{
        font-size: 35px;
        text-align: center;
        margin-left: -40px;
    }

    .btn{
        width: 50%;
        height: 40px;
        font-weight: 12px;
    }
}
