*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100%;
    display: grid;
    place-items: center;
}

.box{
    font-family: 'Montserrat', sans-serif;
}

.box h1{
    font-size: 55px;
    font-weight: 900;
}

.box p{
    font-size: 20px;
    font-weight: 400;
}

.box p a{
    text-decoration: none;
    color: #834beb;
    font-weight: 700;
}

@media (max-width: 480px){
    .box h1{
        font-size: 40px;
    }
    
    .box p{
        font-size: 16px;
    }
    
}